<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.distribution.wamoli.mapper.FCompanyMapper">
  <resultMap id="BaseResultMap" type="com.distribution.wamoli.domain.FCompany">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="companyid" jdbcType="VARCHAR" property="companyid" />
    <result column="companylongname" jdbcType="VARCHAR" property="companylongname" />
    <result column="companyname" jdbcType="VARCHAR" property="companyname" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="legalperson" jdbcType="VARCHAR" property="legalperson" />
    <result column="companycode" jdbcType="VARCHAR" property="companycode" />
    <result column="parentcompanyid" jdbcType="VARCHAR" property="parentcompanyid" />
    <result column="levelid" jdbcType="VARCHAR" property="levelid" />
    <result column="attachsnum" jdbcType="INTEGER" property="attachsnum" />
    <result column="adminuser" jdbcType="VARCHAR" property="adminuser" />
    <result column="orderno" jdbcType="INTEGER" property="orderno" />
    <result column="isvalid" jdbcType="CHAR" property="isvalid" />
    <result column="creater" jdbcType="VARCHAR" property="creater" />
    <result column="createdate" jdbcType="TIMESTAMP" property="createdate" />
    <result column="lastmodifier" jdbcType="VARCHAR" property="lastmodifier" />
    <result column="lastmodifydate" jdbcType="TIMESTAMP" property="lastmodifydate" />
    <result column="custom1" jdbcType="VARCHAR" property="custom1" />
    <result column="custom2" jdbcType="VARCHAR" property="custom2" />
    <result column="custom3" jdbcType="VARCHAR" property="custom3" />
    <result column="custom4" jdbcType="VARCHAR" property="custom4" />
    <result column="custom5" jdbcType="VARCHAR" property="custom5" />
    <result column="custom6" jdbcType="DECIMAL" property="custom6" />
    <result column="custom7" jdbcType="DECIMAL" property="custom7" />
    <result column="remarks" jdbcType="LONGVARCHAR" property="remarks" />
  </resultMap>
</mapper>