<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.distribution.wamoli.mapper.FModuledatastateMapper">
  <resultMap id="BaseResultMap" type="com.distribution.wamoli.domain.FModuledatastate">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="moduleid" jdbcType="VARCHAR" property="moduleid" />
    <id column="statecode" jdbcType="VARCHAR" property="statecode" />
    <result column="statename" jdbcType="VARCHAR" property="statename" />
    <result column="orderno" jdbcType="INTEGER" property="orderno" />
    <result column="custom1" jdbcType="VARCHAR" property="custom1" />
    <result column="custom2" jdbcType="VARCHAR" property="custom2" />
    <result column="custom3" jdbcType="VARCHAR" property="custom3" />
  </resultMap>
</mapper>