<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.distribution.wamoli.mapper.FBasecodetypeMapper">
  <resultMap id="BaseResultMap" type="com.distribution.wamoli.domain.FBasecodetype">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="codetype" jdbcType="VARCHAR" property="codetype" />
    <result column="coderemark" jdbcType="VARCHAR" property="coderemark" />
    <result column="viewname" jdbcType="VARCHAR" property="viewname" />
    <result column="isvalid" jdbcType="CHAR" property="isvalid" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="issystemstandard" jdbcType="CHAR" property="issystemstandard" />
    <result column="custom1" jdbcType="VARCHAR" property="custom1" />
    <result column="custom2" jdbcType="VARCHAR" property="custom2" />
    <result column="custom3" jdbcType="VARCHAR" property="custom3" />
    <result column="custom4" jdbcType="VARCHAR" property="custom4" />
    <result column="custom5" jdbcType="VARCHAR" property="custom5" />
    <result column="custom6" jdbcType="DECIMAL" property="custom6" />
    <result column="custom7" jdbcType="DECIMAL" property="custom7" />
  </resultMap>
  
  
  
  
</mapper>