<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.distribution.wamoli.mapper.FDatatranslogMapper">
  <resultMap id="BaseResultMap" type="com.distribution.wamoli.domain.FDatatranslog">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="interfacetype" jdbcType="VARCHAR" property="interfacetype" />
    <result column="interfacename" jdbcType="VARCHAR" property="interfacename" />
    <result column="interfacemethod" jdbcType="VARCHAR" property="interfacemethod" />
    <result column="interfacedesc" jdbcType="VARCHAR" property="interfacedesc" />
    <result column="transtime" jdbcType="TIMESTAMP" property="transtime" />
    <result column="issuccess" jdbcType="VARCHAR" property="issuccess" />
    <result column="custom1" jdbcType="VARCHAR" property="custom1" />
    <result column="custom2" jdbcType="VARCHAR" property="custom2" />
    <result column="custom3" jdbcType="VARCHAR" property="custom3" />
    <result column="remark" jdbcType="LONGVARCHAR" property="remark" />
  </resultMap>
</mapper>