<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.distribution.wamoli.mapper.FSystemuserMapper">
  <resultMap id="BaseResultMap" type="com.distribution.wamoli.domain.FSystemuser">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="userid" jdbcType="VARCHAR" property="userid" />
    <result column="usercode" jdbcType="VARCHAR" property="username" />
    <result column="username" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="passwordlevel" jdbcType="VARCHAR" property="passwordlevel" />
    <result column="alterdate" jdbcType="TIMESTAMP" property="alterdate" />
    <result column="islongvalid" jdbcType="VARCHAR" property="islongvalid" />
    <result column="alertperiod" jdbcType="INTEGER" property="alertperiod" />
    <result column="startvailddate" jdbcType="TIMESTAMP" property="startvailddate" />
    <result column="outvailddate" jdbcType="TIMESTAMP" property="outvailddate" />
    <result column="loginauthtype" jdbcType="VARCHAR" property="loginauthtype" />
    <result column="personnelid" jdbcType="VARCHAR" property="personnelid" />
    <result column="companyid" jdbcType="VARCHAR" property="companyid" />
    <result column="isvalid" jdbcType="CHAR" property="isvalid" />
    <result column="islocked" jdbcType="CHAR" property="islocked" />
    <result column="creater" jdbcType="VARCHAR" property="creater" />
    <result column="createdate" jdbcType="TIMESTAMP" property="createdate" />
    <result column="lastmodifier" jdbcType="VARCHAR" property="lastmodifier" />
    <result column="lastmodifydate" jdbcType="TIMESTAMP" property="lastmodifydate" />
    <result column="resolution" jdbcType="VARCHAR" property="resolution" />
    <result column="isshowbg" jdbcType="VARCHAR" property="isshowbg" />
    <result column="bgsrc" jdbcType="VARCHAR" property="bgsrc" />
    <result column="custom1" jdbcType="VARCHAR" property="custom1" />
    <result column="custom2" jdbcType="VARCHAR" property="custom2" />
    <result column="custom3" jdbcType="VARCHAR" property="custom3" />
    <result column="custom4" jdbcType="VARCHAR" property="custom4" />
    <result column="custom5" jdbcType="VARCHAR" property="custom5" />
    <result column="custom6" jdbcType="DECIMAL" property="custom6" />
    <result column="custom7" jdbcType="DECIMAL" property="custom7" />
  </resultMap>



</mapper>
